In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Data.csv', sep = ',')

In [6]:
df # Class is wether we go out, variables are weather and car state

  Weather      Car      Class
0   Sunny  Working     Go-out
1   Rainy   broken     Go-out
2   Sunny  Working     Go-out
3   Sunny  Working     Go-out
4   Sunny  Working     Go-out
5   Rainy   broken  Stay-home
6   Rainy   broken  Stay-home
7   Sunny  Working  Stay-home
8   Sunny   broken  Stay-home
9   Rainy   broken  Stay-home

### Replace data with numbers

In [7]:
replacements = {'Sunny': 1, 'Rainy': 0,
                'Working': 1, 'broken':0,
               'Go-out': 1, 'Stay-home':0}

In [12]:
df_codes = df.copy()
for column in df_codes.columns:
    entries = list(df_codes[column])
    df_codes[column] = [replacements[item] for item in entries]
df_codes

   Weather  Car  Class
0        1    1      1
1        0    0      1
2        1    1      1
3        1    1      1
4        1    1      1
5        0    0      0
6        0    0      0
7        1    1      0
8        1    0      0
9        0    0      0

# Calculate probabilities
P(class | X1, X2, …, Xn) = P(X1|class) * P(X2|class) * … * P(Xn|class) * P(class)

In [108]:
def calculate_probabilities(df):
    '''
    df is a dataframe of features and labels. 
    The last column should be names Class and contain the labels
    Other columns should be features
    
    return: a list of dictionaries containing P(class) and P(Xn|class) for each class
    '''
    
    final_dictionaries = []
    all_classes = df.loc[:,'Class'].unique()
    all_features = df.columns[df.columns != 'Class']
    
    for item in all_classes:
        #create dictionary for that class
        tempDict = {'class': item}
        
        #calculate P(class)
        occurences = (df['Class'] == item).sum()
        P_class = occurences / df['Class'].shape[0]
        
        #append P(class) to dict
        tempDict.update({'P_class': P_class})
        
        #create a temporary df which only has class entries
        
        #loop over each feature to calculate P(X|class)
        tempDf = df.loc[df['Class'] == item, :]
        for feature in all_features:
            occurences = (tempDf[feature] == 1).sum()
            P_X_knowing_class = occurences / tempDf[feature].shape[0]
            tempDict.update({feature + '=1': P_X_knowing_class})
            
        #append dictionary to list
        final_dictionaries.append(tempDict)
        
    return final_dictionaries

In [111]:
t = calculate_probabilities(df_codes)
t

[{'class': 1, 'P_class': 0.5, 'Weather=1': 0.8, 'Car=1': 0.8},
 {'class': 0, 'P_class': 0.5, 'Weather=1': 0.4, 'Car=1': 0.2}]